body {
    font-family: "Montserrat";
    color: white;
    text-align: center;
 
} 


#title{
    background-color: #55ae95;
    height: 500px;
    margin-bottom: 100px;

}

h1 {
    font-weight: 700;
    margin-top: 20px;
}

h2 {
    color:#3f4d71;
    font-weight: 600;
    padding: 30px 0 0 0;
} 

hr { 
    border-style: dotted none none ; 
    width: 10%;
    border-color:#ffac8e;
    border-width: 8px;
   
}

#my-pitch{
    background-color: #55ae95;
    height: auto;
    margin-top: 100px;

}

.text-justify {
    text-align: justify;
} 

.click-me{
    width: 200px;
} 

.contact-form {
    height: auto;


}

textarea {
    height: 150px;
  } 

.sent-btn{
    background-color:#55ae95 ;
} 

#footer{
    background-color: #3f4d71;
    height: 300px;
}

.icons i {
    margin: 5px;
}